.nav {
    background-color: #CFF5E7;
    color: black !important;
}
.menu{
    color: black !important;
    text-decoration: none;
}
.contact-number{
    width: 300px;
}
.toggle-button {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
}
button{
    outline:none !important;
    box-shadow: 0 0 0 0 !important;
}
.no-padding {
    padding: 0 !important;
}
