<div class="container d-flex center">
    <div class="card col-md-6 mb-5">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <img src="../../../assets/map.jpg" class="map-img"> 
                </div>
            </div>
            <div class="row">
                <div class="col contact-text">
                    <div class="row"><label><app-link text="US#: (980)328-1866" ref="tel:980-328-1866" [tel]="true"></app-link></label></div>
                    <div class="row"><app-link text="MX#: 01152 658-517-3404" ref="tel:01152 658-517-3404" [tel]="true"></app-link></div>
                    <div class="row">
                        <div class="col-md-12 ml-5">
                            <label class="info-text"><strong>tlc-dental@hotmail.com</strong></label> <br>
                            <label class="info-text"><strong>Ave "A" between 3rd & 4th</strong></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

